{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="descriptif flex">
        <div class="flex">
            <div>
                <h3>Tarif</h3>
                <p>3€ par jour, et degréssif sur la durée sans supplément en cas de problème de vol</p>
            </div>
            <div>
                <h3>Réservation</h3>
                <p>Réservation instantanée en ligne, ou par téléphone/sms</p>
            </div>
        </div>
        <div class="flex">
            <div>
                <h3>Le parking</h3>
                <p>Parking clos de mur, avec de vrai place de parking</p>
            </div>
            <div>
                <h3>Localisation et accès</h3>
                <p>Accès H24, portail motorisé,Vraiment 10 minutes à pied</p>
            </div>
        </div>
    </div>

    <div id="app">
        <preReservation></preReservation>
    </div>

    <script src="{{ asset('js/vue.global.min.js') }}" loading="lazy"></script>
    <script src="{{ asset('js/axios.min.js') }}" loading="lazy"></script>
    <script src="{{ asset('js/moment.js') }}" loading="lazy"></script>

    <script type="text/x-template" id="prereservation-template">
        <div class="flex reservation">
            <form>
                <div class="presentation_reservation">
                    <div>
                        <label id="dateArrive">Date d'arrivée</label>
                        <input type="date" v-model="dateArrivee" :min="minDate" @change="requeteReservation">
                    </div>
                    <div>
                        <label id="dateDepart">Date de départ</label>
                        <input type="date" v-model="dateDepart" :min="dateArrivee" @change="requeteReservation">
                    </div>
                    <div>
                        <label id="nombrePlace">Nombre de Place</label>
                        <input type="number" v-model="nombrePlace" max="5" min="1" @change="requeteReservation">
                    </div>
                    <div v-if="retourPreReservation && retourPreReservation.dureeJours && dateArrivee && dateDepart && retourPreReservation.reservation.dateArrivee == dateArrivee && retourPreReservation.reservation.dateDepart == dateDepart">
                        <label>Durée de la réservation</label>
                        <p class="style_button">{{ '{{ retourPreReservation.dureeJours }}' }} jours</p>
                    </div>
                    <div v-if="retourPreReservation && retourPreReservation.prix && dateArrivee && dateDepart && retourPreReservation.reservation.dateArrivee == dateArrivee && retourPreReservation.reservation.dateDepart == dateDepart">
                        <label>Prix</label>
                        <p class="style_button">{{ '{{ retourPreReservation.prix }}' }} €</p>
                    </div>
                    <div v-if="retourPreReservation && retourPreReservation.disponible && retourPreReservation.disponibleReservation && dateArrivee && dateDepart && retourPreReservation.reservation.dateArrivee == dateArrivee && retourPreReservation.reservation.dateDepart == dateDepart">
                        <label>Disponibilité</label>
                            <a class="button" style="text-decoration: underline" :href="route" v-if="retourPreReservation.disponibleReservation == true">Réserver</a>
                            <p class="button" v-else-if="retourPreReservation.disponible == true">Disponible</p>
                            <p class="button" v-else>Indisponible</p>
                    </div>
                </div>
            </form>
        </div>
    </script>

    <script loading="lazy">

        const { ref, onMounted } = Vue
        const Axios = axios.create({
            withCredentials: false,
            headers: {
                'Accept': 'application/ld+json',
                'Content-Type': 'application/ld+json',
            }
        })

        const prereservation = {
            name: 'prereservation',
            template: '#prereservation-template',
            setup(){
                const nombrePlace = ref(1)
                const dateArrivee = ref(moment().add(1, 'days').format("yyyy-MM-DD"))
                const dateDepart = ref(moment().add(4, 'days').format("yyyy-MM-DD"))
                const retourPreReservation = ref([])
                const minDate = moment().add(1, 'days').format("yyyy-MM-DD")
                const route = "/public/client/reservation"

                function requeteReservation(){
                    Axios.get('https://dev.parking-rue-du-moulin.fr/public/api/pre_reservation_client?dateArrivee=' + dateArrivee.value + '&dateDepart=' + dateDepart.value + '&nombrePlace=' + nombrePlace.value)
                        .then(response => retourPreReservation.value = response.data)
                }

                onMounted(() => {
                    requeteReservation()
                })

                return{
                    requeteReservation,
                    nombrePlace,
                    dateArrivee,
                    dateDepart,
                    minDate,
                    retourPreReservation,
                    route
                }
            }

        }

    </script>

    <script loading="lazy">
        Vue.createApp({
            components: {
                prereservation,
            }
        }).mount('#app')

    </script>


{% endblock %}
