{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="descriptif flex">
        <div class="flex">
            <div>
                <h3>Tarif</h3>
                <p>3€ par jour, et degréssif sur la durée sans supplément en cas de problème de vol</p>
            </div>
            <div>
                <h3>Réservation</h3>
                <p>Réservation instantanée en ligne, ou par téléphone/sms</p>
            </div>
        </div>
        <div class="flex">
            <div>
                <h3>Le parking</h3>
                <p>Parking clos de mur, avec de vrai place de parking</p>
            </div>
            <div>
                <h3>Localisation et accès</h3>
                <p>Accès H24, portail motorisé,Vraiment 10 minutes à pied</p>
            </div>
        </div>
    </div>

    <div>
        <div>
            {{ form_start(formReservation) }}
            {{ form_row(formReservation.DateArrivee) }}
            {{ form_row(formReservation.DateDepart) }}
            {{ form_row(formReservation.NombrePlace) }}
            {{ form_end(formReservation) }}
        </div>
        <div>
            <h3 id="prix"></h3>
            <h3 id="disponibilite"></h3>
        </div>

    </div>

    <script>

        // Event listener Form
        document.getElementById("reservation_client_DateArrivee").addEventListener("change", preReservation);
        document.getElementById("reservation_client_DateDepart").addEventListener("change", preReservation);
        document.getElementById("reservation_client_NombrePlace").addEventListener("change", preReservation);


        function preReservation(){
            let dateArrivee = document.getElementById("reservation_client_DateArrivee").value;
            let dateDepart = document.getElementById("reservation_client_DateDepart").value;
            let nombrePlace = document.getElementById("reservation_client_NombrePlace").value;
            let url = "https://dev.parking-rue-du-moulin.fr/public/api/pre_reservation_client?dateArrivee=" + dateArrivee + "&dateDepart=" + dateDepart + "&nombrePlace=" + nombrePlace;
            fetch(url, {
                method: "GET",
            })
                .then(function (response) {
                    return response.json();
                })
                .then(function (retour){
                    console.log(retour);
                    if(retour.prix) document.getElementById("prix").innerHTML = retour.prix + " €";
                    document.getElementById("disponible").innerHTML = retour.disponible + "test";
                })
                .catch(function(error) {
                    console.log(error);
                });

        }

    </script>


{% endblock %}
