{% extends 'baseadmin.html.twig' %}

{% block title %}Client : {{ client.nom }}{% endblock %}

{% block body %}


    
    <table>
        <thead>
            <tr>
                <th>Client Id</th>
                <th>Nom</th>
                <th>Contact</th>
                <th>Nombre de réservation</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.nom }}</td>
                {% if client.email %}
                    <td><a href='mailto:{{ client.email }}'>{{ client.email }}</a></td>
                {% else %}
                    <td><a href='sms:{{ client.telephone }}'>{{ client.telephone }}</a></td>
                {% endif %}
                <td>{{ reservations | length }}</td>
            </tr>
        </tbody>

    </table>

    {% if reservations.present %}
        <h2>Réservation en cours :</h2>
        <div class="flex reservation">
        {% for reservation in reservations.present %}
            {{ form_start(reservation.form,{'attr': {'id': reservation.entite.id }}) }}
            <div class="presentation_reservation">
                {{ form_row(reservation.form.DateArrivee) }}
                {{ form_row(reservation.form.DateDepart) }}
                {{ form_row(reservation.form.NombrePlace) }}
                <p>{{ reservation.entite.CodeAcces.Code }}</p>
                <p>{{ reservation.entite.DateDepart.diff(aujourdhui).days }} jours</p>
                <p>{{ reservation.entite.getPrix }} €</p>
            </div>
            <div class="menu_reservation">
                {{ form_row(reservation.form.Annuler) }}
                <div><a class="button" {{ reservation.message.message }}><p>{{ reservation.message.sujet }}</p></a></div>
                {{ form_row(reservation.form.Modifier) }}
                {{ form_end(reservation.form) }}
            </div>
        {% endfor %}
        </div>
    {% endif %}

    {% if reservations.futur %}
        <h2>Réservation futur :</h2>
        <div class="flex reservation">
        {% for reservation in reservations.futur %}
            {{ form_start(reservation.form,{'attr': {'id': reservation.entite.id }}) }}
            <div class="presentation_reservation">
                {{ form_row(reservation.form.DateArrivee) }}
                {{ form_row(reservation.form.DateDepart) }}
                {{ form_row(reservation.form.NombrePlace) }}
                <p>{{ reservation.entite.CodeAcces.Code }}</p>
                <p>{{ reservation.entite.DateDepart.diff(aujourdhui).days }} jours</p>
                <p>{{ reservation.entite.getPrix }} €</p>
            </div>
            <div class="menu_reservation">
                {{ form_row(reservation.form.Annuler) }}
                <div><a class="button" {{ reservation.message.message }}><p>{{ reservation.message.sujet }}</p></a></div>
                {{ form_row(reservation.form.Modifier) }}
                {{ form_end(reservation.form) }}
            </div>
        {% endfor %}
        </div>
    {% endif %}

    {% if reservations.passe %}
        <h2>Réservation passe :</h2>
        <div class="flex reservation">
            {% for reservation in reservations.passe | reverse %}
                <table id='{{ reservation.id }}'>
                    <tbody>
                    <tr>
                        <td>{{ reservation.DateArrivee | format_datetime(locale='fr',pattern="Y-MM-dd") }}</td>
                        <td>{{ reservation.DateDepart | format_datetime(locale='fr',pattern="Y-MM-dd") }}</td>
                        <td>{{ reservation.Duree }} jours</td>
                    </tr>
                    <tr>
                        <td>{{ reservation.NombrePlace }} VH</td>
                        <td>{{ reservation.getPrix }} €</td>
                        <td>{{ reservation.CodeAcces.Code }}</td>
                    </tr>
                    </tbody>
                </table>
            {% endfor %}
        </div>
    {% endif %}


{% endblock %}
