{% extends 'baseadmin.html.twig' %}

{% block title %}Client : {{ client.nom }}{% endblock %}

{% block body %}


    
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Contact</th>
                <th>Nombre de réservation</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ client.nom }}</td>
                {% if client.email %}
                    <td><a href='mailto:{{ client.email }}'>{{ client.email }}</a></td>
                {% else %}
                    <td><a href='sms:{{ client.telephone }}'>{{ client.telephone }}</a></td>
                {% endif %}
                <td>{{ reservations | length }}</td>
            </tr>
        </tbody>

    </table>

    {% if reservations.present %}
        <h2>Réservation en cours :</h2>
        <div class="flex reservation">
        {% for reservation in reservations.present %}
            <table id='{{ reservation.entite.id }}'>
                <tbody>
                    <tr>{{ form_start(reservation.form) }}
                        <td class="reservation_form">{{ form_row(reservation.form.DateArrivee) }}</td>
                        <td class="reservation_form">{{ form_row(reservation.form.DateDepart) }}</td>
                        <td class="reservation_form">{{ form_row(reservation.form.NombrePlace) }}</td>
                    </tr>
                    <tr>
                        <td>{{ reservation.entite.DateDepart.diff(aujourdhui).days }} jours</td>
                        <td>{{ reservation.entite.getPrix }} €</td>
                        <td>{{ reservation.entite.CodeAcces.Code }}</td>
                    </tr>
                    <tr>
                        <td>"Message intelligent"</td>
                        <td>{{ form_row(reservation.form.Annuler) }}</td>
                        <td>{{ form_row(reservation.form.Modifier) }}</td>
                    </tr>{{ form_end(reservation.form) }}
                </tbody>
            </table>
        {% endfor %}
        </div>
    {% endif %}

    {% if reservations.futur %}
        <h2>Réservation futur :</h2>
        <div class="flex reservation">
        {% for reservation in reservations.futur %}
            <table id='{{ reservation.entite.id }}'>
                <tbody>
                <tr>
                    <td>{{ reservation.entite.DateArrivee | format_datetime(locale='fr',pattern="Y-MM-dd") }}</td>
                    <td>{{ reservation.entite.DateDepart | format_datetime(locale='fr',pattern="Y-MM-dd") }}</td>
                    <td>{{ reservation.entite.DateArrivee.diff(aujourdhui).days }} jours</td>
                </tr>
                <tr>
                    <td>{{ reservation.entite.NombrePlace }} VH</td>
                    <td>{{ reservation.entite.getPrix }} €</td>
                    <td>{{ reservation.entite.CodeAcces.Code }}</td>
                </tr>
                <tr>
                    <td>Raccourcir</td>
                    <td>Allonger</td>
                    <td>Annuler</td>
                </tr>
                </tbody>
            </table>
        {% endfor %}
        </div>
    {% endif %}

    {% if reservations.passe %}
        <h2>Réservation passe :</h2>
        <div class="flex reservation">
            {% for reservation in reservations.passe | reverse %}
                <table id='{{ reservation.entite.id }}'>
                    <tbody>
                    <tr>
                        <td>{{ reservation.entite.DateArrivee | format_datetime(locale='fr',pattern="Y-MM-dd") }}</td>
                        <td>{{ reservation.entite.DateDepart | format_datetime(locale='fr',pattern="Y-MM-dd") }}</td>
                        <td>{{ reservation.entite.Duree }} jours</td>
                    </tr>
                    <tr>
                        <td>{{ reservation.entite.NombrePlace }} VH</td>
                        <td>{{ reservation.entite.getPrix }} €</td>
                        <td>{{ reservation.entite.CodeAcces.Code }}</td>
                    </tr>
                    </tbody>
                </table>
            {% endfor %}
        </div>
    {% endif %}


{% endblock %}
