{% extends 'baseadmin.html.twig' %}

{% block title %}Réserver{% endblock %}

{% block body %}

    {% if formError %}
        <h2>{{ formError }}</h2>
    {% endif %}

    {{ form_start(form) }}
        {{ form_row(form.NombrePlace) }}
        {{ form_row(form.DateArrivee) }}
        {{ form_row(form.DateDepart) }}
        {{ form_row(form.Telephone) }}
        {{ form_row(form.Client) }}
    <button type="submit">Réserver</button>
    {{ form_end(form) }}

    {% if formPrix %}

        <h2>Tarif : {{ formPrix }} €</h2>

    {% endif %}

{% endblock %}
