{% extends 'baseadmin.html.twig' %}

{% block title %}Réserver{% endblock %}

{% block body %}

    <script src="{{ asset('js/vue.global.min.js') }}"></script>
    <script src="{{ asset('js/axios.min.js') }}"></script>
    <script src="{{ asset('js/moment.js') }}"></script>


    <script type="text/x-template" id="reservation-template">
        <div>
            <div>
                <form>
                    <div>
                        <label id="dateArrive">Date d'arrivée</label>
                        <input type="date" v-model="dateArrivee" @change="requeteReservation">
                    </div>
                    <div>
                        <label id="dateDepart">Date de départ</label>
                        <input type="date" v-model="dateDepart" :min="dateArrivee" @change="requeteReservation">
                    </div>
                    <div>
                        <label id="nombrePlace">Nombre de Place</label>
                        <input type="number" v-model="nombrePlace" max="10" min="1" @change="requeteReservation">
                    </div>
                    <div>
                        <label id="contact">Contact</label>
                        <div class="paste">
                            <input type="text" v-model="contact" id="contact" name="contact" @input="requeteContact">
                            <button @click="paste" type="button"><img src="{{ asset('icons/paste.svg') }}"></button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="retourReservation">

                <div>
                    <table v-if="retourContact.contacts != null && retourContact.contacts.length && contact.length > 3">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Contact</th>
                            <th>Nombre de réservation</th>
                            <th><button @click="reset">Reset</button></th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr v-for="client in retourContact.contacts">
                            <client :client="client" @appelEmit="emitClient" />
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div>
                    <table v-if="retourReservation != null && retourReservation.prix">
                        <thead>
                        <tr>
                            <th>Prix</th>
                            <th>Disponibilité</th>
                            <th v-if="clientEmit">Nombre de réservation</th>
                            <th v-if="clientEmit">Nom</th>
                            <th>Message</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{  '{{retourReservation.prix}}' }} €</td>
                            <td v-if="retourReservation.nombrePlaceDisponible > 15" class='planning_vert'>{{ '{{ retourReservation.nombrePlaceDisponible }}' }}</td>
                            <td v-else-if="retourReservation.nombrePlaceDisponible > 6" class='planning_orange'>{{ '{{ retourReservation.nombrePlaceDisponible }}' }}</td>
                            <td v-else-if="retourReservation.nombrePlaceDisponible >= 0" class='planning_rouge'>{{ '{{ retourReservation.nombrePlaceDisponible }}' }}</td>
                            <td v-else>Indisponible</td>
                            <td v-if="clientEmit">{{ '{{ clientEmit.nombreReservation }}'}}</td>
                            <td v-if="clientEmit">{{ '{{ clientEmit.nom }}'}}</td>
                            <td v-if="retourMessage.message != null"><a :href='{{ 'retourMessage.message' }}'>Si vous voulez</a></td>
                            <td v-else>Message Impossible {{ '{{ retourMessage.message }}' }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div v-if="retourReservation.nombrePlaceDisponible >= 0 && clientEmit && retourReservation.reservation.dateArrivee == dateArrivee &&
            retourReservation.reservation.dateDepart == dateDepart && retourReservation.reservation.nombrePlace == nombrePlace">
                    <ajoutReservation @appelEmit="emitAjoutReservation" :client="clientEmit" :reservation="retourReservation.reservation" />

                </div>

                <div v-if="retourContact.contacts != null && retourContact.contacts.length === 0 && contact.length > 3">
                    <ajoutContact :contact='contact' @appelEmit="emitAjoutContact" />

                </div>

            </div>
        </div>
    </script>

    <script type="text/x-template" id="client-template">
        <td><a :href='route'>{{ '{{ props.client.nom }}'}}</a></td>
        <td v-if="props.client.telephone">{{ '{{ props.client.telephone }}'}}</td>
        <td v-else>{{ '{{ props.client.email }}'}}</td>

        <td>{{ '{{ props.client.nombreReservation }}'}}</td>
        <td><input type="radio" :id="props.client.id" :value="props.client" name="contact" @click="emitClient"></td>
    </script>

    <script type="text/x-template" id="ajoutReservation-template">
        <div class="flex" v-if="responses == null || responses != null && responses.erreur">
            <button @click="ajouterReservation">Réserver</button>
            <a v-if="retourMessage && retourMessage.message != null" class="button" :href="{{ 'retourMessage.message' }}">Si vous voulez</a>
        </div>

        <table v-else>
            <tbody>
            <tr>
                <td><a :href="responses.confirmation.message">Confirmation</a></td>
                <td><a :href="responses.explication.message">Explication</a></td>
                <td>{{ '{{ responses.explication.type }}'}}</td>
                <td><button @click="reset">Reset</button></td>
            </tr>
            </tbody>
        </table>
    </script>

    <script type="text/x-template" id="ajoutContact-template">
        <h2>Aucun contact correspondant</h2>

        <form v-if=" responses == null || responses != null && responses.erreur ">
            <div>
                <label id="nom">Nom</label>
                <input type="text" v-model="client.nom">
            </div>
            <div>
                <label id="contact">Contact</label>
                <div v-if="responses && responses.erreur">
                    <input type="text" v-model="client.contact" class="erreur" >
                    <h3>{{ '{{ responses.message }}'}}</h3>
                </div>

                <input type="text" v-model="client.contact" v-else>
            </div>
            <button @click="ajouterContact">Ajouter Contact</button>
        </form>
        <div v-else>
            <table>
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Contact</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ '{{ responses.client.nom }}'}}</td>
                    <td @click="emitContact">{{ '{{ responses.client.contact }}'}}</td>
                </tr>
                <tr>
                    <td colspan="2">{{ '{{ responses.message }}'}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </script>

    <div id="app">
        <reservation></reservation>
    </div>

    <script>

        // Les codes api sont regeneres apres chaque push sur git. Donc ça sert a rien d'essayer...
        const { ref, onMounted, computed } = Vue
        const Axios = axios.create({
            withCredentials: false,
            headers: {
                'Accept': 'application/ld+json',
                'Content-Type': 'application/ld+json',
                'Authorization': 'Bearer ' + "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJpYXQiOjE2NzI5MzMxNTAsImV4cCI6MTY4MDcwOTE1MCwicm9sZXMiOlsiUk9MRV9BRE1JTiIsIlJPTEVfVVNFUiJdLCJ1c2VybmFtZSI6Imp1bGVzMjAwMjA0QGdtYWlsLmNvbSJ9.dpB4805Ia5k-1v5ebF6aMx0BjNQq1Mc9XlDWUtSNPCf9dp6P4wUYaINgC7o2kFnJNomQt7shAfN6t7sXd0YcOjdYFdWskQet7yS95K3zwMeM6D1QAjsHbk2nzAESoFOkQKNT2miq57hWr-6cKfOggAHdEEjwso1zPc2Gc6M5vcbwYZDBTIqUVmzmrdhCPQn4_P7bQeK43kNreFahHhjmcT3NySNPQwCe_pLemBgzXzdoC6GqvUzw7j5htlaU62-AlI9yDvxA6pAyjNKON0riC4umWlGC91YzSZEZ9DLVNwy7utj7ZQYjtXGKrHScT9bcJaYNPShrgGSVUOd-mKibxQ"
            }
        })

        const client = {
            name: 'client',
            template: '#client-template',
            props: {
                client: Object
            },
            emits: ['appelEmit'],
            setup(props, {emit}){

                const route = computed(() => {
                    return "/public/admin/client/" + props.client.id
                })


                function emitClient(){
                    emit('appelEmit',props.client)
                }

                return{
                    route,
                    props,
                    emitClient
                }

            }
        }

        const ajoutReservation = {
            name: 'ajoutReservation',
            template: '#ajoutReservation-template',
            props: {
                client: Object,
                reservation : Object
            },
            emits: ['appelEmit'],
            setup(props,{emit}){

                const responses = ref()
                const retourMessage = ref([])

                function messageSiVousVoulez(){
                    Axios.get('https://dev.parking-rue-du-moulin.fr/public/api/message?dateArrivee=' + props.reservation.dateArrivee + '&dateDepart=' + props.reservation.dateDepart + '&nombrePlace=' + props.reservation.nombrePlace + '&contact=' + props.client.telephone)
                        .then(response => retourMessage.value = response.data)
                }

                function ajouterReservation(){
                    Axios.post('https://dev.parking-rue-du-moulin.fr/public/api/ajout_reservation' , { 'client' : props.client, 'reservation' : props.reservation, 'href' : false })
                        .then(response => responses.value = response.data)
                        .catch(error => {
                            console.error("Erreur dans le post de l'ajout de la reservation", error)
                        })

                }

                function reset(){
                    responses.value = null
                    emit('appelEmit')
                }

                onMounted(() => {
                    messageSiVousVoulez()
                })

                return{
                    messageSiVousVoulez,
                    ajouterReservation,
                    retourMessage,
                    responses,
                    reset
                }

            }
        }

        const ajoutContact = {
            name: 'ajoutContact',
            template: '#ajoutContact-template',
            props:{
                contact: String
            },
            emits: ['appelEmit'],
            setup(props,{ emit }){

                const client = ref({})
                const responses = ref()

                function ajouterContact(){

                    if( client.value.nom == '' || client.value.contact == '') return

                    Axios.post('https://dev.parking-rue-du-moulin.fr/public/api/ajout_contact' , client.value)
                        .then(response => responses.value = response.data)
                        .catch(error => {
                            console.error("Erreur dans le post de l'ajout du contact", error)
                        })

                }

                function emitContact(){
                    emit('appelEmit',responses.value.client.contact)
                }

                onMounted(() => {
                    client.value.contact = props.contact
                })

                return{
                    client,
                    responses,
                    ajouterContact,
                    emitContact
                }

            }
        }


        const reservation = {
            name: 'reservation',
            template: '#reservation-template',
            components: {
                client,
                ajoutReservation,
                ajoutContact
            },
            setup(){
                const nombrePlace = ref(1)
                const dateArrivee = ref(moment().add(1, 'days').format("yyyy-MM-DD"))
                const dateDepart = ref(moment().add(4, 'days').format("yyyy-MM-DD"))
                const retourReservation = ref([])
                const retourContact = ref([])
                const retourMessage = ref([])
                const contact = ref('')
                const clientEmit = ref()

                function requeteReservation(){
                    Axios.get('https://dev.parking-rue-du-moulin.fr/public/api/pre_reservation?dateArrivee=' + dateArrivee.value + '&dateDepart=' + dateDepart.value + '&nombrePlace=' + nombrePlace.value)
                        .then(response => retourReservation.value = response.data)
                }

                function requeteContact(){
                    if(contact.value.length > 3){
                        Axios.get('https://dev.parking-rue-du-moulin.fr/public/api/contact?contact=' + contact.value )
                            .then(response => retourContact.value = response.data)
                        messageSiVousVoulez()
                    }
                }

                function paste(){
                    navigator.clipboard.readText()
                        .then(clipText => contact.value = clipText)
                    setTimeout(requeteContact,100)
                }

                function emitClient(client){
                    clientEmit.value = client
                }

                function emitAjoutContact(ajout){
                    contact.value = ajout
                    requeteContact()
                }

                function emitAjoutReservation(){
                    requeteReservation()
                }

                function messageSiVousVoulez(){

                    if(! (contact.value.charAt(0) == 0 && (contact.value.charAt(1) == 6 || contact.value.charAt(1) == 7) || contact.value.charAt(0) == '+' && contact.value.charAt(1) == 3 && contact.value.charAt(2) == 3 || contact.value.charAt(0) == 3 && contact.value.charAt(1) == 3 )) return;

                    Axios.get('https://dev.parking-rue-du-moulin.fr/public/api/message?dateArrivee=' + dateArrivee.value + '&dateDepart=' + dateDepart.value + '&nombrePlace=' + nombrePlace.value + '&contact=' + contact.value)
                        .then(response => retourMessage.value = response.data)
                }

                function reset(){
                    contact.value = ''
                    retourContact.value = []
                    retourMessage.value = []
                }

                onMounted(() => {
                    requeteReservation()
                })

                return{
                    requeteReservation,
                    requeteContact,
                    paste,
                    emitClient,
                    emitAjoutContact,
                    emitAjoutReservation,
                    messageSiVousVoulez,
                    nombrePlace,
                    dateArrivee,
                    dateDepart,
                    retourReservation,
                    retourContact,
                    retourMessage,
                    contact,
                    clientEmit,
                    reset
                }
            }

        }

    </script>

    <script>
        Vue.createApp({
            components: {
                reservation,
            }
        }).mount('#app')

    </script>

{% endblock %}
