{% extends 'baseadmin.html.twig' %}

{% block title %}Réserver{% endblock %}

{% block body %}

    {{ form_start(form) }}
        {{ form_row(form.NombrePlace) }}
        {{ form_row(form.DateArrivee) }}
        {{ form_row(form.DateDepart) }}
        {{ form_row(form.Telephone) }}
        {{ form_row(form.Client) }}
    <button type="submit">Réserver</button>
    {{ form_end(form) }}

{% endblock %}
