{% extends 'baseadmin.html.twig' %}

{% block title %}Message : {{message.contact }}{% endblock %}

{% block body %}

    {{ form_start(form) }}
        {{ form_row(form.debut) }}
        {{ form_row(form.fin) }}
        {{ form_row(form.code) }}
        {{ form_row(form.reservation) }}
        {{ form_row(form.explication) }}
        <button type="submit">Chercher</button>
    {{ form_end(form) }}

    {% if messageRetour %}
        <a {{ messageRetour.message }}>{{ messageRetour.type }}</a>
    {% endif %}

{% endblock %}
