{% extends 'baseadmin.html.twig' %}

{% block title %}Planning{% endblock %}

{% block body %}

    <h2>Aujourd'hui : {{ date| format_datetime(locale='fr',pattern="dd-MM-Y") }}</h2>

    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Nombre de place</th>
                <th>Arrivee</th>
                <th>Depart</th>
            </tr>
        </thead>
        <tbody>

            {% for key ,date in dates %}

                {% if key | format_datetime(locale='fr',pattern="dd") == 01  %}

                    <tr>
                        <td colspan="all"> {{ key | format_datetime(locale='fr',pattern="LLLL") | capitalize }}</td>
                    </tr>

                {% endif %}

                <tr>
                    <td><a href='{{ path('app_admin_planning_jour', {'date' : key | format_datetime(locale='fr',pattern="Y-MM-dd") })  }}'>{{ key | format_datetime(locale='fr',pattern="EEEE : dd-MM-Y") | capitalize  }}</a></td>
                    <td>{{ date.nombrePlaceDisponibles }}</td>
                    <td>{{ date.Arrivee }}</td>
                    <td>{{ date.Depart }}</td>
                </tr>

            {% endfor %}
        </tbody>
    </table>

{% endblock %}
