{% extends 'baseadmin.html.twig' %}

{% block title %}Planning{% endblock %}

{% block body %}

    <div>

        <div>
            <div>{{ form_start(form) }}
                {{ form_row(form.date) }}
                <button type="submit">Chercher</button>
                {{ form_end(form) }}
            </div>
            <h2>Aujourd'hui : {{ date| format_datetime(locale='fr',pattern="dd-MM-Y") }}</h2>
        </div>

        <table class='planning'>
            <thead>
                <tr>
                    <th class='planning'>Date</th>
                    <th>Place</th>
                    <th>{{ statistique.getRecetteAnnee(date) }} €</th>
                </tr>
            </thead>
            <tbody>

                {% for key ,date in dates %}

                    {% if key | format_datetime(locale='fr',pattern="dd") == 01  %}

                        <tr>
                            <td colspan="2"><h2>{{ key | format_datetime(locale='fr',pattern="LLLL") | capitalize }}</h2></td>
                            <td>{{ statistique.getRecetteMoisTwig(key)}} €</td>
                        </tr>

                    {% endif %}

                    {% if date.nombrePlaceDisponibles > 15 %}
                        <tr class='planning_vert'>
                    {% elseif date.nombrePlaceDisponibles > 10 %}
                        <tr class='planning_orange'>
                    {% else %}
                        <tr class='planning_rouge'>
                    {% endif %}
                        <td><a href='{{ path('app_admin_planning_jour', {'date' : key | format_datetime(locale='fr',pattern="Y-MM-dd") })  }}'>{{ key | format_datetime(locale='fr',pattern="EEEE dd-MM-Y") | capitalize  }}</a></td>
                        <td>{{ date.nombrePlaceDisponibles }}</td>
                        <td class='planning_flex'>
                            {% if date.Arrivee > 8 %}
                                <div class='planning_rouge'>Arrivée : {{ date.Arrivee }}</div>
                            {% else %}
                                <div>Arrivée : {{ date.Arrivee }}</div>
                            {% endif %}

                            {% if date.Depart > 8 %}
                                <div class='planning_rouge'>Départ : {{ date.Depart }}</div>
                            {% else %}
                                <div>Départ : {{ date.Depart }}</div>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
