{% extends 'baseadmin.html.twig' %}

{% block title %}{{ date | format_datetime(locale='fr',pattern="dd-MM-Y") }} : Planning{% endblock %}

{% block body %}

    <div class='planning_jour_menu'>
        <h3><a href='{{ path('app_admin_planning_jour', {'date' : date | date_modify("-1 day") | format_datetime(locale='fr',pattern="Y-MM-dd") }) }}' >{{ date | date_modify("-1 day") | format_datetime(locale='fr',pattern="dd-MM-Y") }}</a></h3>
        <div>{{ form_start(form) }}
             {{ form_row(form.date) }}
             <button type="submit">Chercher</button>
             {{ form_end(form) }}
        </div>
        <h3><a href='{{ path('app_admin_planning_jour', {'date' : date | date_modify("+1 day") | format_datetime(locale='fr',pattern="Y-MM-dd") }) }}' >{{ date | date_modify("+1 day") | format_datetime(locale='fr',pattern="dd-MM-Y") }}</a></h3>
    </div>

    <div class='planning_jour'>

        <h2>{{ date | format_datetime(locale='fr',pattern="EEEE : dd-MM-Y") | capitalize }} : {{ nombrePlaceDisponibles }}</h2>

        {% if arrivees == null and departs == null %}

            <h3>Il n'a aucun mouvement ce jour</h3>

        {% endif %}

        {% if arrivees %}

            <h3>Arrivée : {{ nbrArrivee}}</h3>

            <table class='planning_jour'>
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Départ</th>
                        <th>Contact</th>
                        {% if aujourdhui.diff(date).days < 5 %}
                            <th>Code</th>
                        {% endif %}
                        <th>Place</th>
                    </tr>
                </thead>
                <tbody>

                {% for arrivee in arrivees | sort((a, b) => a.DateArrivee <=> b.DateArrivee ) %}
                    {% if arrivee.CodeDonne %}
                        <tr class='planning_vert'>
                    {% elseif aujourdhui.diff(date).days < 4 %}
                        <tr class='planning_rouge'>
                    {% else %}
                        <tr>
                    {% endif %}
                        <td><a href='{{ path('app_admin_client', {'client' : arrivee.Client.Id} ) }}' >{{ arrivee.getClient.nom }} </a></td>
                        <td><a href='{{ path('app_admin_planning_jour', {'date' : arrivee.DateDepart  | format_datetime(locale='fr',pattern="Y-MM-dd") }) }}' >{{ arrivee.DateDepart | format_datetime(locale='fr',pattern="dd-MM-Y") }}</a></td>

                        {% if arrivee.getClient.Email %}
                            <td><a href='{{ path('app_admin_message', {'reservation' : arrivee.Id} ) }}'>{{ arrivee.getClient.Email }}</a></td>
                        {% else %}
                            <td><a href='{{ path('app_admin_message', {'reservation' : arrivee.Id} ) }}'>{{ arrivee.telephone }}</a></td>
                        {% endif %}

                        {% if aujourdhui.diff(date).days < 5 %}
                            <td>{{ arrivee.getCodeAcces.getCode }}</td>
                        {% endif %}
                        <td>{{ arrivee.NombrePlace }}</td>
                    </tr>

                {% endfor %}

            {% endif %}

            </tbody>
        </table>

        {% if departs %}

            <h3>Départ : {{nbrDepart}}</h3>

            <table class='planning_jour'>
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Arrivée</th>
                    <th>Contact</th>
                    <th>Place</th>
                </tr>
                </thead>
                <tbody>

                {% for depart in departs %}
                    <tr>
                        {% if depart.Client %}
                            <td><a href='{{ path('app_admin_client', {'client' : depart.Client.Id} ) }}' >{{ depart.getClient.nom }} </a></td>
                            <td><a href='{{ path('app_admin_planning_jour', {'date' : depart.DateArrivee | format_datetime(locale='fr',pattern="Y-MM-dd") }) }}' >{{ depart.DateArrivee | format_datetime(locale='fr',pattern="dd-MM-Y") }}</a></td>
                            {% if depart.getClient.Email %}
                                <td><a href='{{ path('app_admin_message', {'reservation' : depart.Id} ) }}'>{{ depart.getClient.Email }}</a></td>
                            {% else %}
                                <td><a href='{{ path('app_admin_message', {'reservation' : depart.Id} ) }}'>{{ depart.telephone }}</a></td>
                            {% endif %}
                            <td>{{ depart.NombrePlace }}</td>
                        {% endif %}

                    </tr>

                {% endfor %}

                </tbody>
            </table>
            {% endif %}


        {% if voitures %}

            <h3>Voiture présente :</h3>

            <table class='planning_jour'>
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Départ</th>
                    <th>Arrivée</th>
                    <th>Contact</th>
                    <th>Place</th>
                </tr>
                </thead>
                <tbody>

                {% for voiture in voitures %}
                    <tr>
                        {% if voiture.Client %}
                            <td>{{ voiture.getClient.nom }}</td>
                            <td><a href='{{ path('app_admin_planning_jour', {'date' : voiture.DateDepart | format_datetime(locale='fr',pattern="Y-MM-dd") }) }}' >{{ voiture.DateDepart | format_datetime(locale='fr',pattern="dd-MM-Y") }}</a></td>
                            <td><a href='{{ path('app_admin_planning_jour', {'date' : voiture.DateArrivee | format_datetime(locale='fr',pattern="Y-MM-dd") }) }}' >{{ voiture.DateArrivee | format_datetime(locale='fr',pattern="dd-MM-Y") }}</a></td>
                            {% if voiture.getClient.Email %}
                                <td><a href='{{ path('app_admin_message', {'reservation' : voiture.Id} ) }}'>{{ voiture.getClient.Email }}</a></td>
                            {% else %}
                                <td><a href='{{ path('app_admin_message', {'reservation' : voiture.Id} ) }}'>{{ voiture.telephone }}</a></td>
                            {% endif %}
                            <td>{{ voiture.NombrePlace }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}

                {% endif %}

                </tbody>
            </table>
    </div>

{% endblock %}
