{% extends 'baseadmin.html.twig' %}

{% block title %}{{ date | format_datetime(locale='fr',pattern="dd-MM-Y") }} : Planning{% endblock %}

{% block body %}

    <table>
        <tbody>
            <tr>
                <td><a href='{{ path('app_admin_planning_jour', {'date' : date | date_modify("-1 day") | format_datetime(locale='fr',pattern="Y-MM-dd") }) }}' >{{ date | date_modify("-1 day") | format_datetime(locale='fr',pattern="dd-MM-Y") }}</a></td>
                <td>
                    {{ form_start(form) }}
                    <button type="submit">Chercher</button>
                    {{ form_end(form) }}
                </td>
                <td><a href='{{ path('app_admin_planning_jour', {'date' : date | date_modify("+1 day") | format_datetime(locale='fr',pattern="Y-MM-dd") }) }}' >{{ date | date_modify("+1 day") | format_datetime(locale='fr',pattern="dd-MM-Y") }}</a></td>
            </tr>
        </tbody>
    </table>

    <h2>{{ date | format_datetime(locale='fr',pattern="EEEE : dd-MM-Y") | capitalize }} : {{ nombrePlaceDisponibles }}</h2>

    {% if arrivees == null and departs == null %}

        <h3>Il n'a aucun mouvement ce jour</h3>

    {% endif %}

    {% if arrivees %}

        <h3>Arrivée :</h3>

        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Départ</th>
                    <th>Contact</th>
                    <th>Place</th>
                    <th>Code</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>



            {% for arrivee in arrivees %}
                <tr>
                    {% if arrivee.Client %}
                        <td>{{ arrivee.Client.Nom }}</td>
                        <td><a href='{{ path('app_admin_planning_jour', {'date' : arrivee.DateDepart  | format_datetime(locale='fr',pattern="Y-MM-dd") }) }}' >{{ arrivee.DateDepart | format_datetime(locale='fr',pattern="dd-MM-Y") }}</a></td>
                        <td>{{ arrivee.Client.Email }}</td>
                        <td>{{ arrivee.NombrePlace }}</td>
                        <td>{{ arrivee.CodeAcces.Code }}</td>
                        <td>Action</td>
                    {% else %}
                        <td></td>
                        <td><a href='{{ path('app_admin_planning_jour', {'date' : arrivee.DateDepart | format_datetime(locale='fr',pattern="Y-MM-dd") }) }}' >{{ arrivee.DateDepart | format_datetime(locale='fr',pattern="dd-MM-Y") }}</a></td>
                        <td>{{ arrivee.Telephone }}</td>
                        <td>{{ arrivee.NombrePlace }}</td>
                        <td>{{ arrivee.CodeAcces.Code }}</td>
                        <td>Action</td>


                    {% endif %}

                </tr>

            {% endfor %}

        {% endif %}

        </tbody>
    </table>

    {% if departs %}

        <h3>Départ :</h3>

        <table>
            <thead>
            <tr>
                <th>Nom</th>
                <th>Arrivée</th>
                <th>Contact</th>
                <th>Place</th>
                <th>Code</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>

            {% for depart in departs %}
                <tr>
                    {% if depart.Client %}
                        <td>{{ depart.Client.Nom }}</td>
                        <td><a href='{{ path('app_admin_planning_jour', {'date' : depart.DateArrivee | format_datetime(locale='fr',pattern="Y-MM-dd") }) }}' >{{ depart.DateArrivee | format_datetime(locale='fr',pattern="dd-MM-Y") }}</a></td>
                        <td>{{ depart.Client.Email }}</td>
                        <td>{{ depart.NombrePlace }}</td>
                        <td>{{ depart.CodeAcces.Code }}</td>
                        <td>Action</td>
                    {% else %}
                        <td></td>
                        <td><a href='{{ path('app_admin_planning_jour', {'date' : depart.DateArrivee | format_datetime(locale='fr',pattern="Y-MM-dd") }) }}' >{{ depart.DateArrivee | format_datetime(locale='fr',pattern="dd-MM-Y") }}</a></td>
                        <td>{{ depart.Telephone }}</td>
                        <td>{{ depart.NombrePlace }}</td>
                        <td>{{ depart.CodeAcces.Code }}</td>
                        <td>Action</td>

                    {% endif %}

                </tr>

            {% endfor %}

            </tbody>
        </table>
        {% endif %}


    {% if voitures %}

        <h3>Voiture présente :</h3>

        <table>
            <thead>
            <tr>
                <th>Nom</th>
                <th>Départ</th>
                <th>Arrivée</th>
                <th>Contact</th>
                <th>Place</th>
                <th>Code</th>
            </tr>
            </thead>
            <tbody>

            {% for voiture in voitures %}
                <tr>
                    {% if voiture.Client %}
                        <td>{{ voiture.Client.Nom }}</td>
                        <td><a href='{{ path('app_admin_planning_jour', {'date' : voiture.DateDepart | format_datetime(locale='fr',pattern="Y-MM-dd") }) }}' >{{ voiture.DateDepart | format_datetime(locale='fr',pattern="dd-MM-Y") }}</a></td>
                        <td><a href='{{ path('app_admin_planning_jour', {'date' : voiture.DateArrivee | format_datetime(locale='fr',pattern="Y-MM-dd") }) }}' >{{ voiture.DateArrivee | format_datetime(locale='fr',pattern="dd-MM-Y") }}</a></td>
                        <td>{{ voiture.Client.Email }}</td>
                        <td>{{ voiture.NombrePlace }}</td>
                        <td>{{ voiture.CodeAcces.Code }}</td>
                    {% else %}
                        <td></td>
                        <td><a href='{{ path('app_admin_planning_jour', {'date' : voiture.DateDepart | format_datetime(locale='fr',pattern="Y-MM-dd") }) }}' >{{ voiture.DateDepart | format_datetime(locale='fr',pattern="dd-MM-Y") }}</a></td>
                        <td><a href='{{ path('app_admin_planning_jour', {'date' : voiture.DateArrivee | format_datetime(locale='fr',pattern="Y-MM-dd") }) }}' >{{ voiture.DateArrivee | format_datetime(locale='fr',pattern="dd-MM-Y") }}</a></td>
                        <td>{{ voiture.Telephone }}</td>
                        <td>{{ voiture.NombrePlace }}</td>
                        <td>{{ voiture.CodeAcces.Code }}</td>
                    {% endif %}
                </tr>
            {% endfor %}

            {% endif %}

            </tbody>
        </table>

{% endblock %}
