{% extends 'baseadmin.html.twig' %}

{% block title %}Transfert de la base de donnée{% endblock %}

{% block body %}
    
    <div>
        <div class='flex'>
            {{ form_start(formJson) }}
                {{ form_row(formJson.json) }}
                <button type="submit">Récupérer</button>
            {{ form_end(formJson) }}

            {{ form_start(formSql) }}
                {{ form_row(formSql.check) }}
                <button type="submit">Récupérer</button>
            {{ form_end(formSql) }}
        </div>

        <table>
            <thead>
            <tr>
                <th>Date du transfert :</th>
                <th>Admin :</th>
                <th>Fichier :</th>
            </tr>
            </thead>
            <tbody>
            {% for transfert in transfertbdd %}
                <tr>
                    <td> {{ transfert.date | format_datetime(locale='fr',pattern="dd-MM-Y") }} </td>
                    <td> {{ transfert.relation.nom }} </td>
                    <td> {{ transfert.jsonfilename }} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
