<!DOCTYPE html>
    <head>
        <html lang="fr">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ asset('font/css/font-awesome.min.css') }}"  rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <script type="text/javascript" src="{{ asset('js/burger.js') }}" defer></script>

        <title>{% block title %}ParkingRue Du Moulin{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
<body>
    <header>
        <p id="burger" class="burger"></p>
        <h1><a href="{{ path('default') }}">Projet Symfony</a></h1>
        <nav>
            <ul>
                <li><a href="{{ path('default') }}">Accueil</a></li>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li><a href="{{ path('app_logout') }}"><img src="{{ asset('icons/logout.svg') }}"></a></li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('app_admin') }}">Admin</a></li>
                    {% endif %}
                {% else %}
                    <li><a href="{{ path('app_register') }}">Inscription</a></li>
                    <li><a href="{{ path('app_login') }}"><img src="{{ asset('icons/login.svg') }}"></a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
    {% block body %}{% endblock %}
    </main>
</body>

<footer>
    <nav>
        <ul>
            <li>
                <div>
                    <a href="sms:+33671731835"><img src="{{ asset('icons/phone.svg') }}">
                    <p>06.71.73.18.35</a></p>
                </div>
                <div>
                    <a href="mailto:elonico7@hotmail.fr"><img src="{{ asset('icons/email.svg') }}">
                    <p>elonico7@hotmail.fr</a></p>
                </div>

            </li>

            <li>
                <div>
                    <h2><a href="#" >Parking-Rue-Du-Moulin.fr</a></h2>
                </div>
            </li>

            <li>
                <div>
                    <p><a href="https://goo.gl/maps/pYakmZUcuUQaFpR46" target="_blank">Localisation</p>
                    <img src="{{ asset('icons/location.svg') }}"></a>
                </div>
                <div>
                    <p><a href="reglement-parking.pdf" target="_blank">Règlement intérieur</p>
                    <img src="{{ asset('icons/check.svg') }}"></a>
                </div>
            </li>
        </ul>
    </nav>
</footer>

</html>
